@use '../variables';

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    border: none;
    white-space: nowrap;
    
    &:hover {
        background-color: variables.$hintOfPensive;
        color: variables.$secondaryText;
    }

    &--primary {
        color: variables.$colorText;
        background-color: variables.$blueberrySoda;
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }
}